$white: #fff;

.search-input {
  position: relative;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  border: none;
}
.search-input:focus {
  outline: none;
}
.search-input::placeholder {
  font-size: 24px;
}

.search-logo{
  position: absolute;
  right: 20px;
}

.search-container {
  position: relative;
  width: 70%;
}

.results {
  background-color: $white;
  margin-top: 30px;
  width: 85%;
  padding: 30px;
  .latest-trends {
    p {
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1.5px;
    }
  }
}